
body {
	margin: 0;
	padding-top: 73px; }

.nav-item {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent; 
	margin: 0 2em; }

.nav-item:hover { 
	border-top: 1px solid #0cF;
	border-bottom: 1px solid #0cF; }

.jumbotron { 
	padding: 4em 2em;  }

.btn {
	margin: 20px 0; }

section {
	padding: 50px 0; }





footer {
	color: #fff;
	width: 100%;
	height: 100%;
	background: #444;  }
footer p {
	font-size: 0.8em; }
footer a:link, footer a:visited {
	text-decoration: none;
	color: #fff; }