h1, h2, h3, h4, h5, h6 {
	font-family: 'Righteous'; }

p {
	font-family: sans-serif, arial;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #444; }


.hcenter {
	float: none;
	width: 100%;
	text-align: center;  }  
 
.vcenter {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
    float: none; }
.col-center-block {
    float: none; }
.jumbotron {
	margin-bottom: 0px; }
.bk-yellow { 
	background: #ecb939; }
.bk-pink {
	background: #CD776A; }
.bk-brown {
	background: #AB8159; }
.bk-orange {
	background: #D59133; }
.bk-blue {
	background: #CBD4D1; }

.fa {
	color: #2D573E; } 
footer .fa {
	color: #fff; }
footer .fa:hover {
	color: #ecb939; }
.icon-file i {
	font-size: 20px; }

footer {
	color: #fff;
	padding-top: 20px;
	width: 100%;
	height: 100%;
	background: #444;  }
footer p {
	font-size: 0.8em; }
footer a:link, footer a:visited {
	text-decoration: none;
	color: #fff; }

/*#contact .col-4:first-child {
	background: red; }
#contact .col-4:nth-child(2) {
	background: #FCF8F3; }
#contact .col-4:nth-child(3) {
	background: #FCF5F0; }*/
#contact img {
	width: 60%; }

#quote {
	padding: 100px 0;
	text-align: center;
	color: #fff;
	text-shadow: 5px 5px 1px #000;
	background-image: url("../images/dessert.png");
	background-position: center;
	background-repeat: no-repeat; }

#about {
	position: relative;
	width: 100%;
	text-align: center;
	color: #fff;
	background-image: url("../images/bread.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; }

#about .header-content {
	height: 100%;
	top: 50%;
	padding: 100px 50px;
	text-align: center; }

#about .slogan h1 { 
	text-transform: uppercase; } 

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle; }

#storeInfo h4 {
	color: #2D573E; }
#storeInfo p {
	line-height: 0.5em;
	font-size: smaller; }


.container img {
	max-width: 100%; }
.jumbotron img {
	width: 100%;
	-webkit-filter: drop-shadow(0px 10px 5px #222);
    filter: drop-shadow(0px 10px 5px #222); }
.jumbotron {
	color: #fff; }
.btn-outline-primary {
	color: #fff;
	border-color: #fff; }
.btn-outline-primary:hover {
	color: #444;
	background: #fff;
	border-color: #fff; }

.menuCategory {
	text-transform: uppercase;
	background: #ecb939; }
.menuCategory img {
	height: 35px; }
.menuItem {
	margin: 15px 0; }
.menuPrice { 
	text-align: right; }
.menuSize {
	text-align: right; }


.rotate1 {
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite; }
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotate2 {
    -webkit-animation:spin 6s ease-in infinite reverse;
    -moz-animation:spin 6s ease-in infinite reverse;
    animation:spin 6s ease-in infinite reverse; }
	@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg);transform:rotate(360deg); } }
.rotate3 {
    -webkit-animation:spin 10s ease infinite;
    -moz-animation:spin 10s ease infinite;
    animation:spin 10s ease infinite; }
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }